<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Jamamo IT Solutions</title>
    <meta name="description" content="Reset Password Email Template.">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet" type="text/css">
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: rgb(245, 247, 249);"
    leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" style="font-family:'Lato',sans-serif;">
        <tr>
            <td>
                <table style="max-width:670px;  margin:0 auto;" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:60px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-top: 10px solid rgb(64, 89, 229); border-radius:5px;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06); overflow: hidden;">
                                <tr>
                                    <td style="height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0px 35px 15px 35px;">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <h4 style="margin: 0;">Dear {{reciever_name}},</h4>
                                                </td>
                                                <td align="right">
                                                    <a href="" title="logo" target="_blank">
                                                        <img width="140"
                                                            src="https://learning.jamamo.in/static/media/jit_name_only.646469a3e59a21bf42a0.png"
                                                            title="logo" alt="logo">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- <tr><td style="height:40px;">&nbsp;</td></tr> -->
                                <tr>
                                    <td style="padding:35px 0; text-align: center; background-color: #091766;">
                                        <table width="100%">
                                            <tr>
                                                <td> 
                                                    <img src="https://image.similarpng.com/very-thumbnail/2021/05/Check-Mark-Isolated-Icon.-Checklist-button-icon.-Check-mark-tick-vector-icon.png"
                                                        style="width:80px;" alt="">
                                                    <br>
                                                    <br>
                                                    <p
                                                        style="color:#fff; font-size:14px;line-height:24px;text-align: center; margin:0;">
                                                        Welcome to Jamamo Learning platform, You have successfully registered with us.
                                                    </p>

                                                    <p
                                                        style="color:#fff; font-size:12px;line-height:24px;text-align: center; margin:0;">
                                                        Note: join our WhatsApp official community and discord for regular updates.
                                                    </p>
                                                    <p style="text-align: center">
                                                        <a href='https://jamamo.in/demo'
                                                            style="background:#E8CB55; text-decoration:none !important; font-weight:500; margin-top:15px; color:#212134; font-size:14px;padding:10px 24px;display:inline-block;border-radius:5px;">
                                                            Login Jamamo Portal</a>
                                                            <a href='https://chat.whatsapp.com/J38rAmZXn9S3voqqhVtQ5h'
                                                            style="background:#25D366; text-decoration:none !important; font-weight:500; margin-top:15px; color:#ffffff; font-size:14px;padding:10px 24px;display:inline-block;border-radius:5px;">
                                                            Join WhatsApp group</a>
                                                            <a href='https://discord.gg/4JFHQpkmSV'
                                                            style="background:#7289d9; text-decoration:none !important; font-weight:500; margin-top:15px; color:#ffffff; font-size:14px;padding:10px 24px;display:inline-block;border-radius:5px;">
                                                            Join Our Discord channel</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">

                                        <br>
                                        <p
                                            style="color:#666; font-size:14px;line-height:24px;text-align: left; margin:0;">
                                            Registered by {{sender_name}} &lt{{sender_email}}&gt<br>
                                            Registered on {{date}}
                                        </p>
                                        {{!-- <p
                                            style="color:#666; font-size:14px;line-height:24px;text-align: left; margin:0;">
                                            Thankyou, </p> --}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:30px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                </table>
                <!--/100% body table-->
</body>

</html>